---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Socials from "@components/Socials.astro";
import Section from "@components/Section.astro";

import { SOCIALS } from "@config";
const splash = "https://ik.imagekit.io/2w5ub6jhu/IEA/home/meeting.jpg";
import { Icon } from "astro-icon";
const title = "Institut d'Etudes Avancées de Paris";
const baseline = "Comprendre et transformer collectivement le monde";
const description =
  "L’institut d’études avancées de Paris est un centre de recherche en sciences humaines et sociales, humanités et (neuro)sciences cognitives, partenaire des principaux établissements parisiens et franciliens d’enseignement supérieur et de recherche.";

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main class="w-full max-w-6xl px-2 sm:mx-auto">
    <a href="institute" class="text-skin-accent">
      <section
        class="rounded-b-lg border-2 border-iea-brown hover:bg-skin-card"
      >
        <div>
          <div class="overflow-hidden sm:h-96">
            <img class="h-full w-full object-cover" src={splash} alt="home" />
          </div>
          <div class="p-4 text-sm sm:text-center sm:text-lg">
            <h2 class="font-medium uppercase">{baseline}</h2>
            <p class="font-light sm:mx-auto">
              {description}
            </p>
          </div>
        </div>
      </section>
    </a>
    <Section
      icon="event-schedule"
      title="Evénements"
      collection="events"
      more="Tous les événements"
    />
    <Section
      icon="document"
      title="Publications"
      collection="publications"
      more="Toutes les publications"
    />
    <Section
      icon="gateway-user-access"
      title="Résidences"
      collection="scholars"
      more="Toutes les résidences"
    />
    <Section
      icon="media-library"
      title="Médias"
      collection="medias"
      more="Tous les médias"
    />
    <Section
      icon="progress-bar"
      title="Projets"
      collection="projects"
      more="Tous les projets"
    />
  </main>
  <Footer />
</Layout>

<style>
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mr-2 mb-1 whitespace-nowrap sm:mb-0;
  }
</style>
