---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Socials from "@components/Socials.astro";
import Hero from "@components/Hero.astro";
import Section from "@components/Section.astro";

import { SOCIALS } from "@config";
const splash = "https://ik.imagekit.io/2w5ub6jhu/IEA/home/meeting.jpg";
const title = "Institut d'Etudes Avancées de Paris";
const baseline = "Comprendre et transformer collectivement le monde";
const description =
  "L’institut d’études avancées de Paris est un centre de recherche en sciences humaines et sociales, humanités et (neuro)sciences cognitives, partenaire des principaux établissements parisiens et franciliens d’enseignement supérieur et de recherche.";

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main class="w-full max-w-6xl px-2 lg:mx-auto">
    <Hero
      link="institute"
      image={splash}
      baseline={baseline}
      description={description}
    />
    <Section
      icon="event-schedule"
      title="Evénements"
      collection="events"
      more="Tous les événements"
    />
    <Section
      icon="document"
      title="Publications"
      collection="publications"
      more="Toutes les publications"
    />
    <Section
      icon="gateway-user-access"
      title="Résidents"
      collection="scholars"
      more="Toutes les résidences"
    />
    <Section
      icon="media-library"
      title="Médias"
      collection="medias"
      more="Tous les médias"
    />
    <Section
      icon="progress-bar"
      title="Projets"
      collection="projects"
      more="Tous les projets"
    />
  </main>
  <Footer />
</Layout>
