---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Socials from "@components/Socials.astro";
import Section from "@components/Section.astro";

import getSortedPosts from "@utils/getSortedPosts";
import { SOCIALS } from "@config";

const title = "Institut d'Etudes Avancées de Paris";
const description =
  "L’institut d’études avancées de Paris est un centre de recherche en sciences humaines et sociales, humanités et (neuro)sciences cognitives.";

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>
        {title}
      </h1>
      <p>
        {description}
      </p>
      <p>
        <LinkButton
          className="hover:underline-offset-4 hover:underline hover:decoration-dashed"
          href="about"
        >
          En savoir plus...
        </LinkButton>
      </p>
      <div class="social-wrapper">
        {
          // only display if at least one social link is enabled
          socialCount > 0 && (
            <>
              <div class="social-links">Nos réseaux sociaux :</div>
              <Socials />
            </>
          )
        }
        <a
          target="_blank"
          href="/rss.xml"
          class="rss-link"
          aria-label="rss feed"
          title="RSS Feed"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
            ><path
              d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
            ></path><path
              d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
            ></path><circle cx="6" cy="18" r="2"></circle>
          </svg>
        </a>
      </div>
    </section>
    <div>
      <Section
        title="Evénements"
        collection="events"
        more="Tous les événements"
      />
      <Hr />
      <Section
        title="Publications"
        collection="publications"
        more="Toutes les publications"
      />
      <Hr />
      <Section
        title="Résidences"
        collection="scholars"
        more="Toutes les résidences"
      />
      <Hr />
      <Section title="Médias" collection="medias" more="Tous les médias" />
      <Hr />
      <Section title="Projets" collection="projects" more="Tous les projets" />
    </div>
  </main>
  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply mx-auto bg-iea-brown py-2 font-semibold;
  }
  #hero h1 {
    @apply inline-block text-xl font-bold sm:my-4 sm:text-2xl;
  }
  #hero .rss-link {
    @apply mt-2 ml-2;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 hover:fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mr-2 mb-1 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pt-12 pb-6;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
