---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SearchBar from "@components/search/SearchBar";

// Retrieve all articles
let searchList = [];
const collections = [
  "pages",
  "events",
  "scholars",
  "projects",
  "publications",
  "medias",
];

for (let c in collections) {
  const posts = await getCollection(collections[c], ({ data }) => !data.draft);
  posts.map(({ body, data }) =>
    searchList.push({
      title: data.title,
      description: data.description,
      body: body,
      collection: collections[c],
      data,
    })
  );
}
---

<Layout title={`Recherche | ${SITE.title}`}>
  <Header />
  <div class="mx-auto mt-8 w-full max-w-3xl p-2">
    <h2 class="mb-4 text-lg font-semibold uppercase sm:text-xl lg:text-2xl">
      Recherche
    </h2>
    <SearchBar client:load searchList={searchList} />
  </div>
  <Footer />
</Layout>
