---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SearchBar from "@components/search/SearchBar";
import { any } from "astro/zod";

// Retrieve all articles
let searchList = [];
const collections = ["pages", "events", "scholars", "projects"];

for (let c in collections) {
  const posts = await getCollection(collections[c], ({ data }) => !data.draft);
  posts.map(({ data }) =>
    searchList.push({
      title: data.title,
      description: data.description,
      collection: collections[c],
      data,
    })
  );
}
---

<Layout title={`Recherche | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main pageTitle="Recherche" pageDesc="Rechercher un document...">
    <SearchBar client:load searchList={searchList} />
  </Main>
  <Footer />
</Layout>
