---
import Datetime from "./Datetime";

const { href, frontmatter, secHeading, collection } = Astro.props;
const { title, pubDatetime, description, image } = frontmatter;
const cover =
  "https://ik.imagekit.io/2w5ub6jhu/IEA/" + collection + "/" + image;
---

<div>
  <li
    class="box-border h-auto overflow-hidden rounded-b-lg border-2 border-iea-brown hover:bg-skin-card sm:h-96"
  >
    <a href={href}>
      {
        image && (
          <div
            class="-ml-px -mr-px -mt-px h-48 w-auto bg-cover bg-center"
            style={`background-image: url('${cover}')`}
          />
        )
      }
      <div class="p-2">
        <h2 class="text-xs font-medium uppercase sm:text-sm">{title}</h2>
        <p class="line-clamp-5 text-xs font-light sm:text-sm">{description}</p>
      </div>
    </a>
  </li>
</div>
