---
import Datetime from "./Datetime";

const { href, frontmatter, secHeading, collection } = Astro.props;
const { title, pubDatetime, description, image } = frontmatter;
const cover =
  "https://ik.imagekit.io/2w5ub6jhu/IEA/" + collection + "/" + image;
---

<a href={href}>
  <li
    class="box-border flex h-48 flex-row rounded-b-lg border-2 border-iea-brown hover:bg-skin-card sm:h-96 sm:flex-col"
  >
    {
      image && (
        <img
          class="h-full w-48 shrink-0 object-cover sm:h-48 sm:w-full"
          src={cover}
        />
      )
    }
    <div class="h-full w-full p-2">
      <h2 class="text-xs font-medium uppercase sm:text-sm">{title}</h2>
      <p class="line-clamp-5 text-xs font-light sm:text-sm">{description}</p>
    </div>
  </li>
</a>
