---
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class="p mx-4 mt-auto rounded-t-lg md:mx-auto">
  <div class="footer-wrapper">
    <div>
      <p class="text-md font-bold">Institut d'études avancées de Paris</p>
      <p>17 quai d'Anjou 75004 Paris</p>
      <p>+33(0)1 56 81 00 52</p>
      <p>information@paris-iea.fr</p>
    </div>
    <Socials centered />
  </div>
</footer>

<style>
  footer {
    @apply w-full bg-iea-brown;
  }
  .footer-wrapper {
    @apply flex flex-col items-center justify-between py-6 sm:flex-row sm:py-4;
  }
  .link-button {
    @apply my-1 p-2 hover:rotate-6;
  }
  .link-button svg {
    @apply scale-125;
  }
  .copyright-wrapper {
    @apply my-2 flex flex-col items-center whitespace-nowrap sm:flex-row;
  }
  .separator {
    @apply hidden sm:inline;
  }
</style>
