---
import { LOGO_IMAGE, SITE } from "@config";
import LinkButton from "./LinkButton.astro";
import { Icon } from "astro-icon";

import logoPNG from "/assets/Logo_IEA_gold_COMPLET.png";
import logoSVG from "/assets/logo.svg";

export interface Props {
  activeNav?: "posts" | "tags" | "about" | "search";
}

const { activeNav } = Astro.props;
---

<header class="flex w-full items-start justify-between p-4">
  <a href="/" class="w-20 md:w-32">
    {
      LOGO_IMAGE.enable ? (
        <img
          src={LOGO_IMAGE.svg ? logoSVG : logoPNG}
          alt="Paris IEA Logo"
          class="w-20 md:w-32"
        />
      ) : (
        SITE.title
      )
    }
  </a>
  <nav
    id="nav-menu"
    class="float-right my-auto flex w-full flex-row items-center justify-end space-x-4 bg-skin-fill py-0"
  >
    <ul class="flex gap-x-6">
      <li>
        <a href="/search" class="flex">
          <Icon pack="carbon" name="search" />
          <span
            class="ml-2 hidden font-semibold hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4 sm:inline"
          >
            Recherche
          </span>
        </a>
      </li>
      <li>
        <button class="focus-outline flex" id="theme-btn">
          <Icon pack="carbon" name="contrast" />
          <span
            class="ml-2 hidden font-semibold hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4 sm:inline"
          >
            Mode
          </span>
        </button>
      </li>
      <li>
        <button
          class="focus-outline flex"
          id="menu"
          aria-label="Open Menu"
          aria-expanded="false"
          aria-controls="menu-items"
        >
          <Icon pack="carbon" name="book" />
          <span
            class="ml-2 hidden font-semibold hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4 sm:inline"
          >
            Menu
          </span>
        </button>
      </li>
    </ul>
  </nav>
  <div
    id="navigation"
    class="display-none absolute z-20 -mx-4 w-full max-w-6xl border border-iea-brown bg-skin-fill p-4 md:mt-6 md:rounded-lg md:drop-shadow-lg"
  >
    <button
      class="focus-outline float-right flex"
      id="close"
      aria-label="Open Menu"
      aria-expanded="true"
      aria-controls="menu-items"
    >
      <Icon pack="carbon" name="close" class="scale-125" />
      <span
        class="ml-2 hidden font-semibold hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4 sm:inline"
        >Fermer</span
      >
    </button>
    <div
      class="m-10 grid grid-flow-col grid-rows-4 items-center gap-4 gap-y-10 md:grid-rows-2"
    >
      <div>
        <h1 class="text-md mb-4 flex font-bold">
          <Icon pack="carbon" name="chart-relationship" class="mr-2" />
          A propos
        </h1>
        <div class="flex flex-col gap-y-2">
          <a
            href="/institute"
            class="hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4"
          >
            Institut
          </a>
          <a
            href="/policy"
            class="hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4"
          >
            Politique scientifique
          </a>
          <a
            href="/network"
            class="hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4"
          >
            Réseaux académiques
          </a>
        </div>
      </div>
      <div>
        <h1 class="text-md mb-2 font-bold">
          <Icon pack="carbon" name="deployment-pattern" class="mr-1" />
          Activités
        </h1>
        <div class="flex flex-col gap-y-2">
          <a
            href="/fellowships"
            class="hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4"
          >
            Résidences
          </a>
          <a
            href="/programs"
            class="hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4"
          >
            Programmes de recherche
          </a>
          <a
            href="/events"
            class="hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4"
          >
            Evénements
          </a>
        </div>
      </div>
      <div>
        <h1 class="text-md mb-2 font-bold">
          <Icon pack="carbon" name="cognitive" class="mr-1" />
          Membres
        </h1>
        <div class="flex flex-col gap-y-2">
          <a
            href="/team"
            class="hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4"
          >
            Equipe
          </a>
          <a
            href="/fellows"
            class="hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4"
          >
            Résidents
          </a>
          <a
            href="/members"
            class="hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4"
          >
            Annuaire des membres
          </a>
        </div>
      </div>
      <div>
        <h1 class="text-md mb-2 font-bold">
          <Icon pack="carbon" name="equalizer" class="mr-1" />
          Publications
        </h1>
        <div class="flex flex-col gap-y-2">
          <a
            href="/articles"
            class="hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4"
          >
            Articles
          </a>
          <a
            href="/proceedings"
            class="hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4"
          >
            Actes de colloques
          </a>
          <a
            href="/publications"
            class="hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4"
          >
            Catalogue des publications
          </a>
        </div>
      </div>
    </div>
  </div>

  <script>
    // Toggle menu
    const menuBtn = document.querySelector("#menu");
    const closeBtn = document.querySelector("#close");
    const navigation = document.querySelector("#navigation")?.classList;

    menuBtn?.addEventListener("click", function () {
      navigation?.remove("display-none");
    });

    closeBtn?.addEventListener("click", function () {
      navigation?.add("display-none");
    });
  </script>
</header>
