---
import { LOGO_IMAGE, SITE } from "@config";
import LinkButton from "./LinkButton.astro";
import { Icon } from "astro-icon";

import logoPNG from "/assets/Logo_IEA_gold_COMPLET.png";
import logoSVG from "/assets/logo.svg";

export interface Props {
  activeNav?: "posts" | "tags" | "about" | "search";
}

const { activeNav } = Astro.props;
---

<header class="flex w-full items-start justify-between p-4">
  <a href="/" class="w-20 md:w-32">
    {
      LOGO_IMAGE.enable ? (
        <img
          src={LOGO_IMAGE.svg ? logoSVG : logoPNG}
          alt="Paris IEA Logo"
          class="w-20 md:w-32"
        />
      ) : (
        SITE.title
      )
    }
  </a>
  <nav
    id="nav-menu"
    class="float-right my-auto ml-2 flex w-full flex-row items-center justify-end space-x-4 bg-skin-fill py-0"
  >
    <ul class="mt-0 flex gap-x-6">
      <li>
        <a href="/search" class="flex">
          <Icon pack="carbon" name="search" />
          <span
            class="ml-2 hidden font-semibold hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4 sm:inline"
          >
            Search
          </span>
        </a>
      </li>
      <li>
        <button class="focus-outline flex" id="theme-btn">
          <Icon pack="carbon" name="contrast" />
          <span
            class="ml-2 hidden font-semibold hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4 sm:inline"
          >
            Mode
          </span>
        </button>
      </li>
      <li>
        <button
          class="focus-outline flex"
          id="menu"
          aria-label="Open Menu"
          aria-expanded="false"
          aria-controls="menu-items"
        >
          <Icon pack="carbon" name="book" />
          <span
            class="ml-2 hidden font-semibold hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4 sm:inline"
          >
            Menu
          </span>
        </button>
      </li>
    </ul>
  </nav>
  <div
    id="navigation"
    class="display-none fixed top-0 right-0 left-0 z-20 mx-auto h-screen max-w-6xl rounded-lg bg-white p-8 sm:m-4 md:drop-shadow-lg"
  >
    <button
      class="focus-outline float-right flex"
      id="close"
      aria-label="Open Menu"
      aria-expanded="true"
      aria-controls="menu-items"
    >
      <Icon pack="carbon" name="close" class="scale-150" />
      <span
        class="ml-2 hidden font-semibold hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4 sm:inline"
        >Close</span
      >
    </button>
    <ul class="grid">
      <li>
        <a
          href="/pages"
          class="font-semibold hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4"
        >
          L'institut
        </a>
      </li>
      <li>
        <a
          href="/projects"
          class="font-semibold hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4"
        >
          Projets
        </a>
      </li>
      <li>
        <a
          href="/events"
          class="font-semibold hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4"
        >
          Evénements
        </a>
      </li>
      <li>
        <a
          href="/publications"
          class="font-semibold hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4"
        >
          Publications
        </a>
      </li>
    </ul>
  </div>
</header>

<script>
  // Toggle menu
  const menuBtn = document.querySelector("#menu");
  const closeBtn = document.querySelector("#close");
  const navigation = document.querySelector("#navigation")?.classList;

  menuBtn?.addEventListener("click", function () {
    navigation?.remove("display-none");
  });

  closeBtn?.addEventListener("click", function () {
    navigation?.add("display-none");
  });
</script>
